// Primary Brand Color
$primary: #3772ff;
$primary-darken: #2f61d8;

//Contextual Colors
$success: #45b26b;
$warning: #ffd166;
$error: #ef466f;
$info: #bb50c6;
$success-darken: #399358;
$warning-darken: #e6bc5d;
$error-darken: #db4652;
$info-darken: #a546af;
$light: #ffffff;

// Neutral Colors
$neutral-08: #141416;
$neutral-01: #1f2128;
$neutral-02: #23262f;
$neutral-03: #353945;
$neutral-04: #777e90;
$neutral-05: #b1b5c3;
$neutral-06: #e6e8ec;
$neutral-07: #f4f5f6;
$neutral-08: #fcfcfd;
